<template>
  <div class="add-todo">
    <v-text-field placeholder="Add todo" v-model="task"></v-text-field>
    <v-btn flat color="black" @click="addTodo()">Add todo</v-btn>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import { noop } from "lodash";

export default Vue.extend({
  name: "AddTodo",
  data: () => ({
    task: ""
  }),
  methods: {
    addTodo() {
      !!this.task ? this.$store.commit("addTodo", this.task) : noop();
      this.task = "";
    }
  }
});
</script>
