<template>
  <div class="todo">
      <transition-group name="fade-transition">
        <app-todo v-for="todo in todos" :todo="todo" :key="todo.id"  @deleteTodo="deleteTodo($event)"></app-todo>
      </transition-group>
    <app-add-todo @addTodo="addTodo($event)"></app-add-todo>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import TodoComp from "./todo.vue";
import AddTodo from "./add-todo.vue";
import { Todo } from "../store";

export default Vue.extend({
  name: "Todos",
  components: {
    appTodo: TodoComp,
    appAddTodo: AddTodo
  },
  computed: {
    todos(): Todo[] {
      return this.$store.state.todos;
    }
  }
});
</script>
