<template>
  <div class="todo">
    <v-icon @click="deleteTodo()">close</v-icon>
    <span @click="todoToggle()">{{ todo.task }}</span>
    <transition name="fade-transition">
      <v-icon v-if="todo.completed">check</v-icon>
    </transition>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  name: "Todo",
  props: ["todo"],
  methods: {
    todoToggle() {
      this.$store.commit("toggleTodo", this.todo.id);
    },
    deleteTodo() {
      this.$store.commit("deleteTodo", this.todo.id);
    }
  }
});
</script>
