<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style lang="stylus">
@import '~vuetify/src/stylus/main'

body
  font-family: 'Open Sans Condensed', sans-serif
</style>

<style lang="stylus" scoped>
#app
  min-height: 100vh
  width: 100vw
  display: flex
  justify-content: center
  align-items: center
</style>

